@model W20240408.EntidadesDeNegocio.PersonaW

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonaW</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NombreW" class="control-label"></label>
                <input asp-for="NombreW" class="form-control" />
                <span asp-validation-for="NombreW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoW" class="control-label"></label>
                <input asp-for="ApellidoW" class="form-control" />
                <span asp-validation-for="ApellidoW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoW" class="control-label"></label>
                <input asp-for="FechaNacimientoW" class="form-control" />
                <span asp-validation-for="FechaNacimientoW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoW" class="control-label"></label>
                <input asp-for="SueldoW" class="form-control" />
                <span asp-validation-for="SueldoW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusW" class="control-label"></label>
                <input asp-for="EstatusW" class="form-control" />
                <span asp-validation-for="EstatusW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentarioW" class="control-label"></label>
                <input asp-for="ComentarioW" class="form-control" />
                <span asp-validation-for="ComentarioW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
